<app-breadcrumb *ngIf="id" [title]="" [items]="[{ label: 'Sectional', link: '/sectional' }]" [active_item]="'Sectional - ' + id"></app-breadcrumb>
<app-breadcrumb *ngIf="!id" [title]="" [items]="[{ label: 'Sectional', link: '/sectional' }]" [active_item]="'Add Sectional'"></app-breadcrumb>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-absolute">
        <div class="card-header bg-primary">
          <h5 class="text-white">Sectional Details</h5>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label class="form-label" for="validationCustom01">Title</label>
              <input class="form-control" id="validationCustom01" type="text" placeholder="Title" required="" onlyAlphabets />
            </div>
            <div class="col-md-6">
              <label class="form-label" for="validationCustom01">Topics</label>
              <ng-select [items]="defaultBindingsList" class="custom-multi-select-border" placeholder="Select" [(ngModel)]="multipleSelectedCity" [multiple]="true" [addTag]="true"></ng-select>
            </div>
            <div class="col-md-1">
              <label class="col-form-label m-r-10">Active</label>
              <div class="media-body text-start icon-state">
                <label class="switch">
                  <input type="checkbox" [checked]="checked" (change)="checked = !checked" /><span class="switch-state" [ngClass]="{ 'bg-success': checked, 'bg-danger': !checked }"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-1">
              <button class="btn btn-primary mt-3" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
