<app-breadcrumb [title]="'Customer Details'" [items]="[{ label: 'Customer Management', link: '/customer-management' }]" [active_item]="'Customer - ' + id"></app-breadcrumb>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5>Personal Details</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="col-form-label pt-0">Full Name</label>
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="col-form-label pt-0">
                  <span>Email</span>
                  <i class="fa fa-check-circle-o ms-1 text-success" aria-hidden="true"></i>
                </label>
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="col-form-label pt-0">
                  <span>Mobile Number</span>
                  <i class="fa fa-check-circle-o ms-1 text-success" aria-hidden="true"></i>
                </label>
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="media">
                <label class="col-form-label m-r-10">Active</label>
                <div class="media-body text-end icon-state" style="flex: unset">
                  <label class="switch"> <input type="checkbox" checked="" /><span class="switch-state"></span> </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5>Address Details</h5>
        </div>
        <div class="card-body">
          <ngb-accordion [closeOthers]="true" activeIds="static-1">
            <ngb-panel id="static-1" title="Address 1">
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">Contact Person Name</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">Company Name</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">House Number</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">Street</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">Locality</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">Town</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">County</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">Post Code</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">Country</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="static-2" title="Address 2">
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">Contact Person Name</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">Company Name</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">House Number</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">Street</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">Locality</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">Town</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">County</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">Post Code</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label pt-0">Country</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
