/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/app.scss";

.router-wrapper {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: calc(100% - 47px);
  perspective: 1200px;
  transform-style: preserve-3d;
}

:host {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #60d7a9;
}

th[sortable].asc:before,
th[sortable].desc:before {
  content: "";
  display: block;
  background: url("./assets/icons/up-arrow.png") no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: left;
  margin-left: -22px;
}

th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.cursor {
  cursor: pointer;
}

.p20-40 {
  padding: 1.25rem 2.5rem !important;
}

.accordion-body {
  color: rgb(43, 43, 43);
}

.accordion-button:hover,
.accordion-button:focus {
  z-index: 0;
}
.accordion-button::after {
  background-image: var(--bs-accordion-btn-active-icon);
}

.p1-25 {
  padding: 1rem 2.5rem !important;
}

.form-control {
  border: 1px solid #b0b0b0;
}

.handle {
  cursor: pointer;
}

.slick-prev:before,
.slick-next:before {
  color: $primary-color;
}

.ngb-highlight {
  background-color: #ff0;
}

.page-link:focus {
  box-shadow: none;
  border-color: #86b7fe;
}

.form-select:focus,
.form-control:focus {
  box-shadow: none;
  border-color: none !important;
}

.ck.ck-editor {
  border: 1px solid #b0b0b0 !important;
}
